GoL-HW2/Debug/
GoL-HW2/GoL-HW2.opensdf
GoL-HW2/GoL-HW2.sdf
GoL-HW2/GoL-HW2.sln
GoL-HW2/GoL-HW2.suo
GoL-HW2/GoL-HW2.vcxproj
GoL-HW2/GoL-HW2.vcxproj.filters
GoL-HW2/GoL-HW2.vcxproj.user
GoL-HW2/GoL-HW2_vs2010.suo
GoL-HW2/ipch/gol-hw2-fe26ecbc/gol-hw2-be4f664c.ipch
GoL-HW2/GoL-HW2_vs2010.sln
GoL-HW2/GoL-HW2_vs2010.sdf
